#
#
#
[mmHM_global]
DB_database = mmHM_sqlite
#
# IP & port of homematic ccu or ccu2
# portHM depends on access, BidCos-Wired = 2000, BidCos-RF = 2001, Internal = 2002, HM-IP = 2010
#
HM_CCU2_IPAddressPort = 192.168.2.120:2010
HM_CCU2_IPAddress = 192.168.2.120
#
#
HM_Listener_IPAddress = 192.168.2.101
HM_Listener_Port = 8000
#
#
#
[mmHM_sqlite]
SQLite_database = hmsvxmlrpc.db
#
[mmHM_mysql]
host = 192.168.2.11
database = mm_HM
user = HMadmin
password = HMadmin
